@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Imagem/photo-1626131719951-eb5d4d953bf2.jfif" class="d-block w-100" alt="viagem carrossel01">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Viaje com conforto e segurança!</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/Imagem/nick-owuor-astro-nic-visuals-gSjRwGRkeZw-unsplash.jpg" class="d-block w-100" alt="viagem carrossel02">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Viva experiências incríveis!</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/Imagem/casper-van-battum-_W_RP9bsJVQ-unsplash.jpg" class="d-block w-100" alt="viagem carrossel03">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Conheça paraísos inimagináveis</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev bg-transparent border-0" type="button" data-target="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next bg-transparent border-0" type="button" data-target="#carousel" data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>

    <div class=" d-flex justify-content-between align-items-center mt-5 flex-lg-row d-flex flex-column mb-3 mb-lg-0">
        <div class="card1 mb-sm-3 mb-lg-0">
            <a class=""Clientes" asp-action="Create"><img src="~/Imagem/mike-enerio-7ryPpZK1qV8-unsplash.jpg" alt="Singapura" /></a>
        </div>
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/emilio-lujan-RNFiXahfnpg-unsplash.jpg" alt="" /></a>
        </div>
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/andreas-m-88intec2Q5Q-unsplash.jpg" alt="" /></a>
        </div>
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/danrley-alves-fotografia-d_n2fvcumWo-unsplash.jpg" alt="" /></a>
        </div>
    </div>
    <div class=" d-flex justify-content-between align-items-center mt-5 flex-lg-row d-flex flex-column">
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/agustin-diaz-gargiulo-7F65HDP0-E0-unsplash.jpg" alt="" /></a>
        </div>
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/jorgen-hendriksen-F9MPYiczh14-unsplash.jpg" alt="" /></a>
        </div>
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/matheus-seiji-goto-1C0dYoAdADE-unsplash.jpg" alt="" /></a>
        </div>
        <div class="card1 mb-sm-3 mb-lg-0">
            <a asp-controller="Clientes" asp-action="Create"><img src="~/Imagem/michele-bitetto-_0RKPqXJmfo-unsplash.jpg" alt="" /></a>
        </div>
    </div>
</div>